{{!-- JUMBOTRON BANNER & SCRAPER BUTTON--}}
<div class="jumbotron">
	<div class="container">
		<h1>Saved Articles</h1>
	</div>
</div>

<div class="container">


	{{!-- ARTICLES POPULATE HERE --}}
	<div class="row">

		<div class="col-md-12" id="articles-display">

			{{#each articles}}

				<div class="panel panel-default">
					<div class="panel-body">
						{{!-- populate articles with headline and links --}}
						<a href="http://www.theonion.com{{this.link}}">{{this.headline}}</a>

						<div class="btn-div">

							{{!-- delete article button next to each article --}}
							<button type="button" class="btn btn-default delete-article-btn" data-id="{{this._id}}">delete</button>

							{{!-- article note button next to each article --}}
							<button type="button" class="btn btn-default article-notes-btn" data-id="{{this._id}}">article notes</button>

						</div>

						<hr/>
						
						<!-- <div class="article-notes-div">
						</div> -->
					</div>

				</div>

			{{/each}}

		</div>
	</div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
  		<!-- Modal content -->
  		<div class="modal-content">
		    <span class="close">&times;</span>
		    <br>

		    <form>
			    <h2>ARTICLE NOTES</h2>											
				<input type='text' class='form-control' id='note-title'>
				<textarea class='form-control' rows='3' id='note-body'></textarea>
				<button type='button' class='btn btn-default add-note-btn' data-articleid='" + data[0]._id +"'>add note</button>
			</form>
			
			<br/>

			<hr/>

			<div id="article-notes-div">
		    </div>

	  	</div>
	</div>

</div>